.popup {
  width: 100vw;
  text-align: center;

  .title {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .time-ring {
  }

  .time-category {
    font-size: small;
    color: #bfbfbf;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .time-unit {
    font-size: medium;
  }

  .options {
    width: 100vw;
    position: absolute;
    top: 195px;
  }

  .card {
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .grid {
    width: 50%;
    text-align: center;
    padding: 8px;
  }
}
